<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body>
<!-- component -->
<div class="bg-[#F9FAFB] h-screen w-screen flex items-center">
        <div class="h-max mx-auto flex flex-col items-center">
            <img class="h-[40px] w-[47px] mb-5" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
            <h1 class="text-xl font-bold text-center pb-10">Password reset complete</h1>
            <h1 class="text-sm font-bold text-center pb-10">Your password has been set. You may go ahead and log in now.</h1>
            <a class="font-semibold text-pink-500 transition-colors hover:text-blue-700" href="{% url 'my_login' %}">Sign In</a>
        </div>
    </div>
</body>
</html>